h2 {
    font-size: 32px;
    text-align: center;
}

.container-login {
 text-align: center;
 margin-top: 300px;
}

.btn-google {
    width: 320px !important;
    height: 64px !important;

    span {
        font-size: 20px;
    }
}